@using Microsoft.AspNetCore.Identity
@using SMS.Domain.Entities

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject RoleManager<IdentityRole> RoleManager

@{
    var user = await UserManager.GetUserAsync(User);
    var roles = user != null ? await UserManager.GetRolesAsync(user) : new List<string>();
    var role = roles.FirstOrDefault(); // Assuming one role per user
}

<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">
    <div data-simplebar class="h-100">
        <div id="sidebar-menu">
            <ul class="metismenu list-unstyled" id="side-menu">

                @if (role == "Admin" || role == "Clerk")
                {
                    <li class="menu-title" key="t-menu">Menu</li>
                    <li>
                        <a href="javascript: void(0);" class="has-arrow waves-effect">
                            <i class="bx bx-home-circle"></i>
                            <span key="t-dashboards">Master Data</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                            <li><a href="/" key="t-default">Starter Page</a></li>
                            <li><a href="/Master/StudentMaster" key="t-default">Student</a></li>
                            <li><a href="/Master/TeacherMaster" key="t-default">Assign Teacher</a></li>
                            <li><a href="/Master/ClassMaster" key="t-default">Class</a></li>
                            <li><a href="/Master/SubjectMaster" key="t-default">Subject</a></li>
                            <li><a href="/Master/ExamMaster" key="t-default">Exam</a></li>
                        </ul>
                    </li>

                    <li class="menu-title" key="t-pages">Operations</li>
                    <li>
                        <a href="javascript: void(0);" class="has-arrow waves-effect">
                            <i class="bx bx-user-circle"></i>
                            <span key="t-authentication">Operations</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                            <li><a href="/Operations/InitiateExam" key="t-login">Initiate Exam</a></li>
                            <li><a href="/Operations/ExamMarks" key="t-login">Marks Entry</a></li>
                        </ul>
                    </li>

                    <li class="menu-title" key="t-pages">Admin</li>
                    <li>
                        <a href="javascript: void(0);" class="has-arrow waves-effect">
                            <i class="bx bx-user-circle"></i>
                            <span key="t-authentication">User Management</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                            <li><a href="/User/Index" key="t-login">Users</a></li>
                            <li><a href="/Role/Index" key="t-login">Roles</a></li>
                        </ul>
                    </li>
                }

                @if (role == "Teacher")
                {
                    <li class="menu-title" key="t-pages">Operations</li>
                    <li>
                        <a href="javascript: void(0);" class="has-arrow waves-effect">
                            <i class="bx bx-user-circle"></i>
                            <span key="t-authentication">Operations</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                            <li><a href="/Operations/ExamMarks" key="t-login">Marks Entry</a></li>
                        </ul>
                    </li>
                }

            </ul>
        </div>
    </div>
</div>

<!-- Left Sidebar End -->